<ul class="list-unstyled">
          <% if current_user %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete,
                            class: 'btn btn-warning' %></li>
          <% else %>
             <li><%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
          <% end %>
</u>


<div class = "lists">
    <%@lists.each do |list|%>
      <%= render partial: "list", locals: {list: list}%>
    <%end%>
</div>


