<h1>Howdy partner</h1>

<p>ActionMailer isn't too bad it turns out.</p>

<p> Though I gotta say this might be even more boring than normal views. </p>

<% if @user  %>
  <p>Why are you reading this when you already run shit?</p>
<% else %>
  <p>Maybe you can grow up to be an admin one day.</p>
<% end %>

Yours Truly,
The Administration